* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(1, 792px);
}

.cont-1 {
  width: 100%;
  background: black;
  color: aliceblue;
}

.cont-2 {
  width: 100%;
  background: #15181c;
  color: aliceblue;
  display: grid;
  grid-template-rows: 230px 550px;
  grid-gap: 10px;
  border: 0.5px solid #15181c;
}

.header {
  width: 100%;
  height: 4rem;
  border: 0.5px solid #15181c;
  background: black;
  display: flex;
}
#star-icon {
  fill: rgb(29, 161, 242);
  padding-top: 1rem;
  margin-left: 5rem;
  cursor: pointer;
}

.profile {
  width: 100%;
  height: 10.5rem;
  border: 0.5px solid #15181c;
  background: black;
  display: flex;
  gap: 1rem;
}

.post {
  width: 100%;
  border: 0.5px solid #15181c;
  background: black;
}

.cont-3 {
  width: 100%;
  background: black;
  color: aliceblue;
}

#style-home {
  width: 80%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  font-size: 20px;
  font-weight: 800;
  margin-top: 1rem;
  padding-left: 2rem;
  cursor: pointer;
}
.user-place {
  width: 8%;
  margin-left: 1rem;
  margin-top: 8px;
}
#user-profile {
  width: 100%;

  border-radius: 50%;
  cursor: pointer;
}
.write-post {
  width: 80%;
  margin-top: 5px;
  /* display: grid;
  grid-template-columns: 200px; */
  /* background: red; */
}

#msg-box {
  width: 100%;
  height: 3rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(217, 217, 217);
  background: black;
  border: none;
  outline: none;
}
.reply {
  margin-top: 1rem;
  display: flex;
  gap: 5px;
}

#gloab {
  fill: rgb(29, 161, 242);
  cursor: pointer;
}

#text-msg {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: rgb(29, 161, 242);
  line-height: normal;
  cursor: pointer;
}
.low-cnt {
  width: 100%;
  display: grid;
  grid-template-columns: 200px 400px;
}
.media {
  width: 100%;
  margin-top: 25px;
  display: grid;

  grid-template-columns: repeat(5, 40px);
  cursor: pointer;
}
/* background: white; */
/* color: white; */
/* fill: rgb(29, 161, 242); */

#icon-color {
  fill: rgb(29, 161, 242);
}

.line {
  margin-top: 12px;
  width: 100%;
  height: 1px;
  background: #15181c;
}
.tweet-btn {
  width: 19%;
  margin-top: 10px;
  margin-left: 15rem;
  height: 2.5rem;
  text-align: center;
  padding: 10px;
  background: rgb(29, 161, 242);
  border-radius: 2rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.post-1 {
  width: 100%;

  display: grid;
  grid-template-columns: 90px 1fr;
  grid-template-rows: 470px;
  border: 2px solid #202327;
}

#user-img {
  width: 55%;
  border-radius: 50%;
  margin-left: 1.5rem;
  margin-top: 1rem;
  cursor: pointer;
}

.post-info {
  /* border: 2px solid white; */
  margin-top: 1rem;
}
.user-name {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: rgb(217, 217, 217);
  cursor: pointer;
}
span {
  font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: rgb(110, 118, 125);
}
.post-img {
  width: 95%;
  margin-top: 1rem;
  cursor: pointer;
}
#post {
  width: 100%;
  border: 2px solid rgb(110, 118, 125);
  border-radius: 1rem;
}
.post-msg {
  width: 90%;
  margin-top: 5px;
}
#content-msg {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: rgb(217, 217, 217);
}

#tag {
  color: rgb(29, 161, 242);
  cursor: pointer;
}
.reaction {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
}
#react {
  fill: rgb(110, 118, 125);
  display: flex;
  gap: 1rem;
}

#react-1 {
  fill: rgb(110, 118, 125);
  display: flex;
  gap: 1rem;
}
#react-2 {
  fill: rgb(110, 118, 125);
  display: flex;
  gap: 1rem;
}

#react:hover {
  fill: rgb(35, 158, 234);
  cursor: pointer;
}

#react-1:hover {
  fill: rgb(23, 191, 99);
  cursor: pointer;
}

#react-2:hover {
  fill: rgb(224, 36, 94);

  cursor: pointer;
}

#num {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: rgb(110, 118, 125);
}

#official {
  padding-top: 3px;
  fill: white;
}

/* ----------------Container - 1 ------------------- */

.functions {
  width: 80%;
  /* border: 2px solid white; */
  margin: 0 auto;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 200px;
  grid-template-rows: repeat(10, 50px);
  grid-gap: 1rem;
}

.fun {
  width: 90%;
  margin-left: 7rem;
  /* border: 2px solid white; */
  fill: white;
  display: flex;
  gap: 10px;
  color: rgb(217, 217, 217);
  cursor: pointer;
}

.data {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: rgb(29, 161, 242);
  padding: 5px;
}

#icon-new {
  fill: rgb(29, 161, 242);
}
#new-color {
  color: rgb(217, 217, 217);
  fill: rgb(217, 217, 217);
}

.col-btn {
  width: 100%;
  background: rgb(29, 161, 242);
  text-align: center;
  padding: 12px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  border-radius: 2rem;
}
.twitter-logo {
  width: 80%;
  /* border: 2px solid white; */
  margin: 0 auto;
  margin-top: 1rem;
  padding-left: 15px;
}
.logo-t {
  width: 50%;
  /* border: 2px solid white; */
  margin: 0 auto;
  padding-left: 10px;
  cursor: pointer;
}
.search {
  width: 75%;
  height: 2.8rem;
  margin: 0 auto;
  margin-left: 2rem;
  margin-top: 1rem;
  background: #202327;
  display: flex;
  gap: 10px;
  border-radius: 3rem;
}
#t-icon {
  fill: rgb(255, 255, 255);
}
#search-log {
  fill: #474d52;
}
.search-icon {
  width: 10%;
  margin-top: 8px;
  padding: 5px;
  margin-left: 1rem;
}

#search-box {
  width: 75%;
  outline: none;
  background: none;
  border: none;
  outline: none;
  font-size: 1rem;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  color: rgb(217, 217, 217);
}

.trending {
  width: 75%;
  margin-top: 1rem;
  /* border: 2px solid white; */
  margin-left: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px 100px 70px 70px 70px 50px;
  gap: 1.5px;
  background: rgb(110, 118, 125);
  border-radius: 20px 20px 20px 20px;
}

#item {
  width: 100%;
  margin: 0 auto;
  /* border: 2px solid white;
  */
  /* background: white; */

  background: #202327;
}
.tr-1 {
  border-radius: 10px 10px 0px 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  font-size: 20px;
  font-weight: 800;
  color: rgb(217, 217, 217);
  padding: 1rem;
  /* border: 1px solid rgb(110, 118, 125); */
}
.tr-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* border: 1px solid rgb(110, 118, 125); */
  cursor: pointer;
}

.live-img {
  width: 80%;
  margin-left: 3rem;
}
#img-new-live {
  width: 75%;
  height: 4.5rem;
  margin-top: 12px;
  border-radius: 1rem;
}
.trn-topic {
  width: 100%;
  margin-top: 15px;
  margin-left: 1rem;
}
#covid-msg {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: rgb(110, 118, 125);
}
#topic-trend {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: rgb(217, 217, 217);
}
.tr-3 {
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-gap: 2.8rem;
  cursor: pointer;
}
.trending-topic-1 {
  width: 80%;
  padding: 10px;
  margin-left: 7px;
}
#trnd-text {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: rgb(110, 118, 125);
}
#trnd-tag {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: rgb(217, 217, 217);
}
#trnd-no {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: rgb(110, 118, 125);
}
#more-tip {
  fill: rgb(110, 118, 125);
  margin-top: 10px;
}
.tr-4 {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-gap: 2.2rem;
  cursor: pointer;
}
.tr-6 {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-gap: 2.2rem;
  cursor: pointer;
}

.tr-7 {
  border-radius: 0px 0px 10px 10px;
  cursor: pointer;
}
.show-more {
  width: 80%;
  margin-left: 1rem;
  margin-top: 12px;
  color: rgb(29, 161, 242);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}

.who-to-follow {
  width: 75%;
  margin-top: 1rem;
  /* border: 2px solid white; */
  margin-left: 2rem;
  background: rgb(110, 118, 125);
  border-radius: 20px 20px 20px 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 55px 70px 70px 50px;
  grid-gap: 1.5px;
}

#who-i-follow {
  width: 100%;
  /* border: 1px solid white; */
  background: #15181c;
}

.follow-1 {
  border-radius: 10px 10px 0px 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  font-size: 20px;
  font-weight: 800;
  color: rgb(217, 217, 217);
  padding: 1rem;
}
.follow-2 {
  display: grid;
  grid-template-columns: 80px 150px 100px;
}
.user-profile {
  width: 50%;
}
#follow-profile {
  width: 65%;
  border-radius: 50%;
  margin-top: 8px;
  margin-left: 10px;
}
.name-of-user {
  margin-top: 10px;
}
#company {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  color: rgb(217, 217, 217);
  font-size: 15px;
  font-weight: 700;
}
.follow-btn-new {
  width: 100%;
  height: 2.3rem;
  margin-top: 16px;
  text-align: center;
  padding: 5px;
  border-radius: 2rem;
  border: 2px solid rgb(29, 161, 242);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: rgb(29, 161, 242);
  cursor: pointer;
}
.follow-4 {
  border-radius: 0px 0px 10px 10px;
  cursor: pointer;
}
